<div class="k-d-flex k-d-flex-col k-p-3">
  <div class="row k-flex-1">
    <div class="col-8">
      <kendo-grid [data]="gridItems" [pageSize]="pageSize" [skip]="skip" [pageable]="true"
        (pageChange)="pageChange($event)" [sortable]="true" [sort]="sortDescriptor"
        (sortChange)="handleSortChange($event)" [height]="700"
        class="k-border-0 k-rounded-lg k-overflow-hidden k-custom-grid k-mb-4">
        <kendo-grid-column field="ProductID" title="ID"></kendo-grid-column>
        <kendo-grid-column field="UnitPrice" title="Unit Price" format="{0:c}"></kendo-grid-column>
        <kendo-grid-column field="Discontinued" filter="boolean">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
      <div class="k-rounded-lg k-overflow-hidden k-mb-4">
        <table class="k-w-full k-border k-border-solid k-border-light">
          <thead class="k-bg-blue-light">
            <tr>
              <th class="k-fs-sm k-px-3 k-py-2">COUNTERPARTY RISK</th>
              <th class="k-fs-sm k-px-3 k-py-2">EXPOSURE</th>
              <th class="k-fs-sm k-px-3 k-py-2">COLLATERAL</th>
              <th class="k-fs-sm k-px-3 k-py-2">UNREALISED P/L</th>
              <th class="k-fs-sm k-px-3 k-py-2">REALISED P/L</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">MORGAN STANLEY PLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">10.94%</td>
              <td class="k-fs-xs k-px-3 k-py-1">46,82,647</td>
              <td class="k-fs-xs k-px-3 k-py-1">(3,04,657)</td>
              <td class="k-fs-xs k-px-3 k-py-1">(1,33,476)</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">JP MORGAN CHASE PLCPLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">0.23%</td>
              <td class="k-fs-xs k-px-3 k-py-1">95,000</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">UBS PLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">3.36%</td>
              <td class="k-fs-xs k-px-3 k-py-1">13,95,596</td>
              <td class="k-fs-xs k-px-3 k-py-1">(3,04,657)</td>
              <td class="k-fs-xs k-px-3 k-py-1">1</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">GOLDMAN SACHS PLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">0.00%</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">LIQUIDITY BDL + P/L</td>
              <td class="k-fs-xs k-px-3 k-py-1">9.61%</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">(73,758)</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-6">
          <kendo-card width="100%" class="k-mb-4" style="height: 288px;">
            <kendo-card-header class="k-d-flex k-align-items-center k-gap-2 k-bg-blue-light">
              <p class="k-fs-sm k-font-bold k-mb-0">GROSS MARKET CAP EXPOSURE (USD m)</p>
              <div class="k-bg-success k-fs-sm k-font-bold k-px-2 k-py-1 k-rounded-full">131.17%</div>
            </kendo-card-header>
            <kendo-card-body>
              <p class="k-fs-sm k-mb-0">Content goes here</p>
            </kendo-card-body>
          </kendo-card>
        </div>
        <div class="col-6">
          <kendo-card width="100%" class="k-mb-4" style="height: 288px;">
            <kendo-card-header class="k-d-flex k-align-items-center k-gap-2 k-bg-blue-light">
              <p class="k-fs-sm k-font-bold k-mb-0">NET INDUSTRY SECTOR EXPOSURE</p>
              <div class="k-bg-success k-fs-sm k-font-bold k-px-2 k-py-1 k-rounded-full">17.12%</div>
            </kendo-card-header>
            <kendo-card-body>
              <p class="k-fs-sm k-mb-0">Content goes here</p>
            </kendo-card-body>
          </kendo-card>
        </div>
      </div>
      <div class="k-rounded-lg k-overflow-hidden k-mb-4">
        <table class="k-w-full k-border k-border-solid k-border-light">
          <thead class="k-bg-blue-light">
            <tr>
              <th class="k-fs-sm k-px-3 k-py-2">COUNTERPARTY RISK</th>
              <th class="k-fs-sm k-px-3 k-py-2">EXPOSURE</th>
              <th class="k-fs-sm k-px-3 k-py-2">COLLATERAL</th>
              <th class="k-fs-sm k-px-3 k-py-2">UNREALISED P/L</th>
              <th class="k-fs-sm k-px-3 k-py-2">REALISED P/L</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">MORGAN STANLEY PLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">10.94%</td>
              <td class="k-fs-xs k-px-3 k-py-1">46,82,647</td>
              <td class="k-fs-xs k-px-3 k-py-1">(3,04,657)</td>
              <td class="k-fs-xs k-px-3 k-py-1">(1,33,476)</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">JP MORGAN CHASE PLCPLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">0.23%</td>
              <td class="k-fs-xs k-px-3 k-py-1">95,000</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">UBS PLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">3.36%</td>
              <td class="k-fs-xs k-px-3 k-py-1">13,95,596</td>
              <td class="k-fs-xs k-px-3 k-py-1">(3,04,657)</td>
              <td class="k-fs-xs k-px-3 k-py-1">1</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">GOLDMAN SACHS PLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">0.00%</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">LIQUIDITY BDL + P/L</td>
              <td class="k-fs-xs k-px-3 k-py-1">9.61%</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">(73,758)</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="k-rounded-lg k-overflow-hidden k-mb-4">
        <table class="k-w-full k-border k-border-solid k-border-light">
          <thead class="k-bg-blue-light">
            <tr>
              <th class="k-fs-sm k-px-3 k-py-2">COUNTERPARTY RISK</th>
              <th class="k-fs-sm k-px-3 k-py-2">EXPOSURE</th>
              <th class="k-fs-sm k-px-3 k-py-2">COLLATERAL</th>
              <th class="k-fs-sm k-px-3 k-py-2">UNREALISED P/L</th>
              <th class="k-fs-sm k-px-3 k-py-2">REALISED P/L</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">MORGAN STANLEY PLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">10.94%</td>
              <td class="k-fs-xs k-px-3 k-py-1">46,82,647</td>
              <td class="k-fs-xs k-px-3 k-py-1">(3,04,657)</td>
              <td class="k-fs-xs k-px-3 k-py-1">(1,33,476)</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">JP MORGAN CHASE PLCPLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">0.23%</td>
              <td class="k-fs-xs k-px-3 k-py-1">95,000</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">UBS PLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">3.36%</td>
              <td class="k-fs-xs k-px-3 k-py-1">13,95,596</td>
              <td class="k-fs-xs k-px-3 k-py-1">(3,04,657)</td>
              <td class="k-fs-xs k-px-3 k-py-1">1</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">GOLDMAN SACHS PLC</td>
              <td class="k-fs-xs k-px-3 k-py-1">0.00%</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
            </tr>
            <tr>
              <td class="k-fs-xs k-px-3 k-py-1">LIQUIDITY BDL + P/L</td>
              <td class="k-fs-xs k-px-3 k-py-1">9.61%</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
              <td class="k-fs-xs k-px-3 k-py-1">(73,758)</td>
              <td class="k-fs-xs k-px-3 k-py-1">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4">
      <kendo-card width="100%" class="k-h-24 k-mb-4" style="height: 288px;">
        <kendo-card-body>
          <p class="k-fs-sm">Chart goes here</p>
        </kendo-card-body>
      </kendo-card>
      <kendo-card width="100%" class="k-mb-4" style="height: 288px;">
        <kendo-card-header class="k-hstack k-bg-blue-light">
          <div class="row k-flex-1">
            <div class="col-7">
              <p class="k-fs-sm k-font-bold k-mb-0">SOLBATT Index</p>
            </div>
            <div class="col-5">
              <p class="k-fs-sm k-font-bold k-mb-0">SINCE LAST NAV</p>
            </div>
          </div>
        </kendo-card-header>
        <kendo-card-body>
          <div class="row k-flex-1">
            <div class="col-7">
              <p class="k-fs-sm k-mb-0">PX_LAST</p>
            </div>
            <div class="col-5">
              <p class="k-fs-sm k-mb-0">Chart goes here</p>
            </div>
          </div>
        </kendo-card-body>
      </kendo-card>
      <kendo-card width="100%" class="k-mb-4" style="height: 288px;">
        <kendo-card-header class="k-hstack k-bg-blue-light">
          <p class="k-fs-sm k-font-bold k-mb-0">EXPOSURE</p>
        </kendo-card-header>
        <kendo-card-body>
          <p class="k-fs-sm k-mb-0">Chart goes here</p>
        </kendo-card-body>
      </kendo-card>
      <kendo-card width="100%" class="k-mb-4" style="height: 288px;">
        <kendo-card-header class="k-d-flex k-align-items-center k-gap-2 k-bg-blue-light">
          <p class="k-fs-sm k-font-bold k-mb-0">NET GICS SECTOR EXPOSURE</p>
          <div class="k-bg-success k-fs-sm k-font-bold k-px-2 k-py-1 k-rounded-full">17.12%</div>
        </kendo-card-header>
        <kendo-card-body>
          <p class="k-fs-sm k-mb-0">Content goes here</p>
        </kendo-card-body>
      </kendo-card>
      <kendo-card width="100%" class="k-mb-4" style="height: 288px;">
        <kendo-card-header class="k-d-flex k-align-items-center k-gap-2 k-bg-blue-light">
          <p class="k-fs-sm k-font-bold k-mb-0">NET INDUSTRY SECTOR EXPOSURE</p>
          <div class="k-bg-success k-fs-sm k-font-bold k-px-2 k-py-1 k-rounded-full">17.12%</div>
        </kendo-card-header>
        <kendo-card-body>
          <p class="k-fs-sm k-mb-0">Content goes here</p>
        </kendo-card-body>
      </kendo-card>
    </div>
  </div>
  <div class="k-rounded-lg k-overflow-hidden k-mb-4">
    <table class="k-w-full k-border k-border-solid k-border-light">
      <thead class="k-bg-blue-light">
        <tr>
          <th class="k-fs-sm k-px-3 k-py-2">COUNTERPARTY RISK</th>
          <th class="k-fs-sm k-px-3 k-py-2">EXPOSURE</th>
          <th class="k-fs-sm k-px-3 k-py-2">COLLATERAL</th>
          <th class="k-fs-sm k-px-3 k-py-2">UNREALISED P/L</th>
          <th class="k-fs-sm k-px-3 k-py-2">REALISED P/L</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="k-fs-xs k-px-3 k-py-1">MORGAN STANLEY PLC</td>
          <td class="k-fs-xs k-px-3 k-py-1">10.94%</td>
          <td class="k-fs-xs k-px-3 k-py-1">46,82,647</td>
          <td class="k-fs-xs k-px-3 k-py-1">(3,04,657)</td>
          <td class="k-fs-xs k-px-3 k-py-1">(1,33,476)</td>
        </tr>
        <tr>
          <td class="k-fs-xs k-px-3 k-py-1">JP MORGAN CHASE PLCPLC</td>
          <td class="k-fs-xs k-px-3 k-py-1">0.23%</td>
          <td class="k-fs-xs k-px-3 k-py-1">95,000</td>
          <td class="k-fs-xs k-px-3 k-py-1">-</td>
          <td class="k-fs-xs k-px-3 k-py-1">-</td>
        </tr>
        <tr>
          <td class="k-fs-xs k-px-3 k-py-1">UBS PLC</td>
          <td class="k-fs-xs k-px-3 k-py-1">3.36%</td>
          <td class="k-fs-xs k-px-3 k-py-1">13,95,596</td>
          <td class="k-fs-xs k-px-3 k-py-1">(3,04,657)</td>
          <td class="k-fs-xs k-px-3 k-py-1">1</td>
        </tr>
        <tr>
          <td class="k-fs-xs k-px-3 k-py-1">GOLDMAN SACHS PLC</td>
          <td class="k-fs-xs k-px-3 k-py-1">0.00%</td>
          <td class="k-fs-xs k-px-3 k-py-1">-</td>
          <td class="k-fs-xs k-px-3 k-py-1">-</td>
          <td class="k-fs-xs k-px-3 k-py-1">-</td>
        </tr>
        <tr>
          <td class="k-fs-xs k-px-3 k-py-1">LIQUIDITY BDL + P/L</td>
          <td class="k-fs-xs k-px-3 k-py-1">9.61%</td>
          <td class="k-fs-xs k-px-3 k-py-1">-</td>
          <td class="k-fs-xs k-px-3 k-py-1">(73,758)</td>
          <td class="k-fs-xs k-px-3 k-py-1">-</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="k-border k-border-solid k-border-light k-py-4 k-rounded-lg k-overflow-hidden">
          <table class="k-w-full">
            <tbody>
              <tr>
                <td class="k-fs-xs k-px-3 k-py-1">Next Bond Maturity:</td>
                <td class="k-fs-xs k-px-3 k-py-1">
                  <span class="k-px-2 k-py-1">20/4/2023 12:00:00 AM</span>
                </td>
              </tr>
              <tr>
                <td class="k-fs-xs k-px-3 k-py-1">Next Bond Callable Date:</td>
                <td class="k-fs-xs k-px-3 k-py-1">
                  <span class="k-bg-danger k-fs-xs k-px-2 k-py-1 k-rounded-full">31/12/1899 12:00:00 AM</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>


<!-- 
<kendo-card width="260px">
  <kendo-card-header class="k-hstack">
    Sample Card
  </kendo-card-header>
  <kendo-card-actions>
    Action
  </kendo-card-actions>   
  <kendo-card-body>
    This is body
  </kendo-card-body>
</kendo-card>

<kendo-grid [data]="gridItems" [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
  [sortable]="true" [sort]="sortDescriptor" (sortChange)="handleSortChange($event)" [height]="400">
  <kendo-grid-column field="ProductID" title="ID"></kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Unit Price" format="{0:c}"></kendo-grid-column>
  <kendo-grid-column field="Discontinued" filter="boolean">
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
    </ng-template>
  </kendo-grid-column>
</kendo-grid> -->